.tendency-box {
  display: flex;
  width: 100%;
  height: 350px;
  margin-top: 10px;
}

.tendency-box > div {
  border-radius: 8px;
  height: 100%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}

.tendency-box > div:nth-of-type(1) {
  flex: 1;
}

.tendency-box > div:nth-of-type(1) .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  height: 35px;
  position: relative;
}

.tendency-box > div:nth-of-type(1) .top-menu .line {
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: #F7F7F7;
  top: 47px;
}

.tendency-box > div:nth-of-type(1) .top-menu li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #EFEFEF;
}

.tendency-box > div:nth-of-type(1) .top-menu li:last-child {
  border: none;
}

.tendency-box > div:nth-of-type(1) .top-menu li span {
  font-size: 0.18rem;
  color: #464646;
  padding-bottom: 15px;
  cursor: pointer;
}

.tendency-box > div:nth-of-type(1) .top-menu li span.active, .tendency-box > div:nth-of-type(1) .top-menu li span:hover {
  color: #F02F22;
  border-bottom: 3px solid #F02F22;
}

.tendency-box > div:nth-of-type(1) .labelLists {
  display: flex;
  margin-top: 35px;
  margin-left: 20px;
  position: relative;
}

.tendency-box > div:nth-of-type(1) .labelLists li {
  border-right: 1px solid #ECECEC;
}

.tendency-box > div:nth-of-type(1) .labelLists li.last-child {
  border: none;
}

.tendency-box > div:nth-of-type(1) .labelLists li span {
  cursor: pointer;
  padding: 0 10px;
}

.tendency-box > div:nth-of-type(1) .labelLists li span:hover, .tendency-box > div:nth-of-type(1) .labelLists li span.active {
  color: #F02F22;
}

.tendency-box > div:nth-of-type(1) .labelLists > span {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.tendency-box > div:nth-of-type(1) .labelLists > span:hover {
  color: #F02F22;
}

.tendency-box > div:nth-of-type(1) .charts {
  height: 280px;
  margin-left: 30px;
  position: relative;
}

.tendency-box > div:nth-of-type(1) .charts .issue {
  position: absolute;
  bottom: 30px;
  left: 48%;
}

.tendency-box > div:nth-of-type(1) .charts .number {
  position: absolute;
  top: 47%;
  left: -17px;
  transform: rotate(270deg);
}

.tendency-box > div:nth-of-type(2) {
  width: 282px;
  margin-left: 12px;
}

.tendency-box > div:nth-of-type(2) h3 {
  font-size: 0.18rem;
  color: #333333;
  font-weight: 600;
  padding: 15px 5px;
}

.tendency-box > div:nth-of-type(2) h3 span {
  color: #999999;
  font-weight: 200;
  font-size: 0.14rem;
}

.tendency-box > div:nth-of-type(2) .skills-list {
  padding: 10px;
  width: 100%;
}

.tendency-box > div:nth-of-type(2) .skills-list .skills-item {
  line-height: 36px;
  width: 93%;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  cursor: pointer;
}

.tendency-box > div:nth-of-type(2) .skills-list .skills-item .lottery-name {
  color: #ed1c24;
  margin-right: 5px;
}
