.footerwarp {
  background: #F8FAFC;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
}

.footerwarp .footer {
  min-width: 1400px;
  height: 142px;
  margin: 0 auto;
}

.footerwarp .footer .foot {
  width: 1300px;
  height: 100%;
  padding: 26px 50px 22px 50px;
  box-sizing: border-box;
  margin: 0 auto;
}

.footerwarp .footer .foot .foot-flex {
  display: flex;
  justify-content: space-between;
}

.footerwarp .footer .foot .foot-flex .flex-left .left-top {
  width: 850px;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.footerwarp .footer .foot .foot-flex .flex-left .left-top ul {
  width: 100%;
  display: flex;
}

.footerwarp .footer .foot .foot-flex .flex-left .left-top ul li {
  margin-right: 50px;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #A3ABB0;
  cursor: pointer;
}

.footerwarp .footer .foot .foot-flex .flex-left .left-top ul li:hover {
  color: #ff292b;
}

.footerwarp .footer .foot .foot-flex .flex-left .left-bottom {
  margin-top: 26px;
  font-family: PingFangSC-Medium;
  font-size: 13px;
  color: #A3ABB0;
}

.footerwarp .footer .foot .foot-flex .flex-right {
  width: 222px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footerwarp .footer .foot .foot-flex .flex-right .right-l {
  display: flex;
  flex-direction: column;
}

.footerwarp .footer .foot .foot-flex .flex-right .right-l img {
  width: 55px;
  height: 48px;
  margin-left: 20px;
}

.footerwarp .footer .foot .foot-flex .flex-right .right-l p {
  margin-top: 10px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #A3ABB0;
}

.footerwarp .footer .foot .foot-flex .flex-right .right-r {
  display: flex;
  flex-direction: column;
}

.footerwarp .footer .foot .foot-flex .flex-right .right-r img {
  width: 55px;
  height: 48px;
  margin-left: 20px;
}

.footerwarp .footer .foot .foot-flex .flex-right .right-r p {
  margin-top: 10px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #A3ABB0;
}
